<h2>Busquedas</h2>
<hr />
<ul class="list-group">
  <li
    routerLinkActive="active"
    routerLink=""
    class="list-group-item"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Buscar Pais
  </li>
  <li
    routerLinkActive="active"
    routerLink="region"
    class="list-group-item"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Buscar region
  </li>
  <li
    routerLinkActive="active"
    routerLink="capital"
    class="list-group-item"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Buscar capital
  </li>
</ul>
